NEXT_PUBLIC_API_BASE_URL=https://api.openeire.ie/api/
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_replace_me
NEXT_PUBLIC_GOOGLE_CLIENT_ID=replace-me.apps.googleusercontent.com
NEXT_PUBLIC_SITE_URL=https://openeire.ie
# NEXT_PUBLIC_MEDIA_BASE_URL=https://media.openeire.ie
NEXT_PUBLIC_FREE_SHIPPING_ENABLED=true
NEXT_PUBLIC_FREE_SHIPPING_THRESHOLD=180
NEXT_PUBLIC_FREE_SHIPPING_ELIGIBLE_COUNTRIES=IE
NEXT_PUBLIC_FREE_SHIPPING_COUNTRY_LABEL=Ireland
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-96JSG3FV42
NEXT_PUBLIC_SITE_SOCIAL_INSTAGRAM_URL=https://www.instagram.com/openeirestudios/
NEXT_PUBLIC_SITE_SOCIAL_YOUTUBE_URL=https://www.youtube.com/@openeirestudios
NEXT_PUBLIC_IUBENDA_CONSENT_PUBLIC_API_KEY=
NEXT_PUBLIC_IUBENDA_POLICY_URL=https://www.iubenda.com/privacy-policy/77203310
NEXT_PUBLIC_IUBENDA_POLICY_EMBED_URL=https://www.iubenda.com/privacy-policy/77203310/legal
