NEXT_PUBLIC_API_BASE_URL=https://api.openeire.ie/api/
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_replace_me
NEXT_PUBLIC_IUBENDA_POLICY_URL=https://www.iubenda.com/privacy-policy/77203310
NEXT_PUBLIC_IUBENDA_POLICY_EMBED_URL=https://www.iubenda.com/privacy-policy/77203310/legal
